*{
    margin: 0;
    padding: 0;
}

.nav{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: xx-large;
}

.container{
    display: flex;

  justify-content: center;
    

}

.game{
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(3,12vw);
    grid-template-rows:repeat((3,12vw)) ;
    position: relative;
    
    
}
.box{
    border: 2px solid black;

    justify-content: center;
    align-items: center;
    align-self: center;
}

.boxtext{
    font-size: 10vw;
    margin-left: 15%;
    
}
.info{
    margin-top: 2%;
    margin-left: 5%;
}
.bl{
    border-left: 0;
}
.br{
    border-right: 0;

}

.bt{
    border-top: 0;
}
.bb{
    border-bottom: 0;
}


.gif img{
    width: 0;
    transition: width 1s ease-in-out;
}
.box:hover{
    background-color: rgb(192, 224, 224);
}

.reset{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 5px;
    background-color: aqua;
}
.line{
   
    width: 0;
    height: 3px;
    position: absolute;
    background-color: black;
    transition: width 1s ease-in-out;
    
}
@media screen and (max-width:800px) {
    .container{
  flex-direction: column;
  
  margin-top: 5%;
 margin-left: 10%;
 margin-right: 10%;
  
    }
    .game{
        margin-top: 10%;
      margin-left: 5vw;
        margin-bottom: 10vw;
    }
    
}
